# Mac
.DS_Store

# Python
__pycache__/
*.pyc

# Resume test data
Resumes/
uploads/

# Generated results
results.csv
last_results.json

# React
resume_ui/frontend/node_modules/
resume_ui/frontend/build/